{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Project Review- {{title}}</title>
    {% else %}
    <title>Project Review</title>
    {% endif %}


    {% block styles %}
    {% bootstrap_css %}
    {% endblock %}
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="jumbotron">{% block content %} <h1>Project Review</h1> {% endblock %}</div>
    </div>

</body>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %}
{% endblock %}

</html>