<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Review</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'project' %}" style="color: cornsilk;"><strong>Project
                        Review</strong></a>
            </div>
            <div style="margin-top: 15px;" class="content">
                {% if user.is_authenticated %}
                <a style="padding-left: 50px ; color: brown;" href="{% url 'project' %}"><i class="glyphicon glyphicon-home"></i> Home</a>
                <a style="padding-left: 20px ; color: brown;" href="{% url 'profile' %}"><i class="glyphicon glyphicon-user"></i> Profile</a>
                <a style="padding-left: 20px ; color: brown;" href="{% url 'new_project' %}"><i class="glyphicon glyphicon-plus"></i> Post</a>
                <span class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: brown; padding-left: 20px;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-menu-down"></i>API
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" style="color: brown;" href="/api/profile/?format=json"><strong>Profile</strong></a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" style="color: brown;" href="/api/project/?format=json"><strong>Project</strong></a>
                    </div>
                </span>
        
                <!-- Adding a search form  -->
                <div class="col-sm-4 col-md-4 navbar-right">

                    <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                        <div class="input-group" style="margin-top: 0px;">
                            <input type="text" class="form-control" placeholder="Search Project Title" name="project">
                            <div class="input-group-btn">
                                <button style="color: brown;" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- search form end -->
                <a style=" padding-left: 20px; color: brown;" href="/logout"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
                {% else %}
                <a style="padding-left: 20px;color: brown;" href="/accounts/login"><i class="glyphicon glyphicon-log-in"></i> Log In</a>
                {% endif %}
            </div>
        </div>
    </nav>
</body>

</html>