{% extends 'base.html' %}
{% block content %}
{{block.super}}
<style>
    .wrimagecard-topimage_header {
        padding: 10px;
    }

    .wrimagecard-topimage_title {
        padding-left: 20px;
        height: 50px;
        padding-bottom: 5px;
    }
</style>
<div class="container-fluid">
    <div class="row">
       {% for project in projects %}
       {% for profile in profile %}
        <div class="col-md-4">
          <div class="wrimagecard wrimagecard-topimage" style="background-color:whitesmoke;">
             <h4
                style="color: whitesmoke; padding-left: 20px; padding-top: 10px; padding-bottom: 5px; background-color: brown"><img style="border-radius: 30px; width: 30px; height: 30px;" src="{{profile.profile_photo.url}}"> 
                {{project.user.username}}
             </h4>
      
             <h4
                style="color: brown; padding-left: 20px; padding-top: 10px;">
                {{project.title}}
             </h4>
             <small style="padding-left:20px ;">{{project.pub_date}}</small>
             <div class="wrimagecard-topimage_header">
                <img style="width: 328px; height: 200px;" class="img-responsive" src="{{project.image.url}}">
             </div>
             <div class="wrimagecard-topimage_title">
                <!-- <span style="color: brown;">Rating:</span><span style="color: purple;"><strong> 8
                </strong></span><span style="color: brown;">out of 10</span> -->
                <button type="button" style="color: whitesmoke; float: right; margin-right: 5px;"
                   class="btn btn-danger btn-sm" data-toggle="modal"
                   data-target="#myModal{{project.id}}"><i class="glyphicon glyphicon-info-sign"></i> Details
                </button>
             </div>
          </div>
        </div>
        <!-- Modal -->
         <div class="modal fade" id="myModal{{project.id}}" role="dialog">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title" style="color: brown;">{{project.title}}</h4>
                  </div>
                  <div class="modal-body">
                     <img style="width: 608px; height: 300px;" class="img-responsive" src="{{project.image.url}}">
                     <p style="color: brown;">Description </p>
                     <p>{{project.description}}</p>
                     <a style="color: brown;" href="{{project.link}}">Visit Website <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                  </div>
                  <div class="modal-footer">
                     
                     <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                     <a class="btn btn-danger btn-sm"
                       style="color: whitesmoke; float: right; margin-right: 20px;" href=" {% url 'rate'%}"><i class="glyphicon glyphicon-star"></i> Rate
                     </a>
                     
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
        {% endfor %}
    </div> 
</div>


{% endblock %}