{% extends 'base.html' %}
{% block content %}
{{block.super}}
<style>
    .wrimagecard-topimage_header {
        padding: 20px;
    }

    .wrimagecard-topimage_title {
        padding-left: 20px;
        height: 50px;
        padding-bottom: 5px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        {% for project in project %}
        <div class="col-md-4">
            <div class="wrimagecard wrimagecard-topimage" style="background-color:whitesmoke;">

                <h4
                    style="color: whitesmoke; padding-left: 20px; padding-top: 10px; padding-bottom: 5px; background-color: brown;">
                    {{project.title}}
                </h4>
                <div class="wrimagecard-topimage_header">
                    <img style="width: 308px; height: 200px;" class="img-responsive" src="{{project.image.url}}">

                </div>
                <div class="wrimagecard-topimage_title">
                    <span style="color: brown;">Rating:</span><span style="color: purple;"><strong> 6
                        </strong></span><span style="color: brown;">out of 10</span>
                    <a class="btn btn-danger btn-sm"
                        style="color: whitesmoke; float: right; margin-right: 20px;">Rate
                    </a>
                    <!-- <a class="btn btn-danger btn-sm"
                        style="color: whitesmoke; float: right; margin-right: 5px;">Details</a> -->
                    <!-- Trigger the modal with a button -->
                    <button type="button" style="color: whitesmoke; float: right; margin-right: 5px;"
                        class="btn btn-danger btn-sm" data-toggle="modal"
                        data-target="#myModal{{project.id}}">Details
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal{{project.id}}" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="color: brown;">{{project.title}}</h4>
                                </div>
                                <div class="modal-body">
                                    <p style="color: brown;">Description </p>
                                    <p>{{project.description}}</p>
                                    <p style="color: brown;">Project Link</p>
                                    <p>{{project.link}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger btn-sm"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}